<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: white">Menu</mat-toolbar>
    <mat-nav-list>
      <a style="color: white" mat-list-item routerLink="/store">Store</a>
      <a style="color: white" mat-list-item routerLink="/books">Books</a>
      <a style="color: white" mat-list-item routerLink="/customers">Customers</a>
      <a style="color: white" mat-list-item routerLink="/orders">Orders</a>
      <a style="color: white" mat-list-item routerLink="/cart" >Cart</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bookstore</span>
      <button class="cart-btn" mat-icon-button (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>