<div class="cart" *ngIf="cart">
    <div class="cart-header">
        <h3>Shopping Cart</h3>
        <div class="cart-count">
            <span>Total Books: {{cart.books.length}}</span>
        </div>
    </div>
    <div class="cart-body">
        <div class="cart-item" *ngFor="let item of cart.books">
            <div class="cart-item-img">
                <img src="{{item.imgPath}}" alt="">
            </div>
            <div class="cart-item-info">
                <h4>{{item.name}}</h4>
                <p>{{item.price * item.amount}} $</p>
                <mat-form-field class="quantity">
                    <input matInput type="number" min="0" max="item.amount" [(ngModel)]="item.amount" placeholder="Quantity" >
                </mat-form-field>
            </div>
            <div class="cart-item-remove">
                <button mat-raised-button color="warn" (click)="removeFromCart(item)">
                    Remove
                </button>
            </div>
        </div>
    </div>
    <div class="cart-footer">
        <div class="cart-total">
            <span>Total: {{getTotal()}} $</span>
        </div>
        <div class="cart-checkout">
            <button mat-raised-button color="primary" (click)="checkout()">
                Checkout
            </button>
        </div>
    </div>
</div>