.example-card {
    max-width: 200px;
    margin: 10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.btn {
    //bottom left
    right: 0;
    bottom: 5px;
    position: relative;
}

.quantity {
 //bottom center
    right: 0;
    bottom: 5px;
    position: relative;
    width: 50px;
    text-align: center;
}

.mat-actions{
  //bottom center
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}