<form [formGroup]="bookForm"(ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input type="text" matInput formControlName="author" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="amount" />
    </mat-form-field>
    <br>
    <div style="float: right">
        <button *ngIf="!isEdit" mat-raised-button color="primary" class="btn" [disabled]="!bookForm.valid" >Add</button> 
        <button *ngIf="isEdit" mat-raised-button color="primary" class="btn" [disabled]="!bookForm.valid" >Save</button>
        <button mat-raised-button color="primary" class="btn" [mat-dialog-close]="false">Cancel</button>
    </div>
</form>