<form [formGroup]="bookForm"(ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addBook()">Add</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="false">Cancel</button>
</form>